<footer>
    <div class="footer-top">
        <div class="container">
            <div class="row">

                <div class="col-lg-4 col-sm-6 col-xs-12 part">
                    <h2>Our Store</h2>
                    <p>Welcome all to our website, We deliver to all over the world, Be near from us</p>
                </div>

                <div class="col-lg-4 col-sm-6 col-xs-12 part-two">
                    <h2>Quick links</h2>
                    <ul>
                        <li><a href="html.html">Home</a></li>
                        <li><a href="">About Us</a></li>
                        <li><a href="my bag.html">My bag</a></li>
                        <li><a href="login.html">Login</a></li>
                    </ul>
                </div>

                <div class="col-lg-4 col-sm-12 col-xs-12 part">
                    <h2>Follow Us</h2>
                    <p>Pleas Follow us on our social Media profile in order to keep updated.</p>
                    <a href=""><i class="fab fa-facebook"></i></a>
                    <a href=""><i class="fab fa-twitter"></i></a>
                    <a href=""><i class="fab fa-pinterest"></i></a>
                    <a href=""><i class="fab fa-linkedin"></i></a>
                </div>
            </div>
        </div>
    </div>

    <p class="footer-bottom">
        All Right reserved by &copy;Our Store</p>

</footer>